* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: rgb(51, 44, 44);
  color: white;
}
/*header*/
#header {
  height: 80vh;
  width: 100%;
  background-image: url(../assets/torta\ banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /*paralax*/
}
.navBar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 1em;
  border-bottom: 2px solid rgb(94, 84, 84);
}
.navBar__ul {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  list-style: none;
  padding: 5px 0;
  background: rgba(136, 107, 107, 0.3);
}
.navBar__ul li {
  flex-grow: 1;
  text-align: center;
}
.navBar__ul li a {
  display: block;
  padding: 0.5em 1em;

  color: white;
  text-decoration: none;
}
.navBar__ul li:hover a {
  background: #ede5d8;
  color: #7a645d;
  transition: ease-in 0.3s;
  border-radius: 50px;
}

.nav__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 32em;
}

/*promo*/

.bannerPromocional {
  color: #ede5d8;
  background-color: #7a645d;
  border-radius: 30px;
  border-style: inset;
  border-color: silver;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
}
.left {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3em;
  text-align: center;
}
.left h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em;
}
.left p {
  font-size: 25px;
  text-align: center;
}
.right {
  margin:auto;
}
.right img {
  width: 7em;  
}
.right img:hover {
  background-color: #4d3e3a;
  transition: all 0.3s;
  border-radius: 20px;
}

img {
  width: 150px;
}
